body{
    background-color: aquamarine;
    transition: 0.5s;
    z-index: 0;
}

.container1{
    display: flex;
    flex-direction: row;
    padding:50px;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.notes-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-flow: row wrap;
}

.notes{
    min-height:230px;
    width:230px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 5px 5px gray;
    border-radius: 5px;
    margin: 10px;
}

.notes div {
    word-wrap: break-word; /* Forces long text to wrap within the width */
    /* word-break: break-all; Ensures breaking if there's a very long string with no spaces */
    white-space: normal;   /* Ensure text wraps to a new line */
}

.delete{
    align-self: flex-end;
    justify-self: flex-end !important;
}

.modal-container1{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Optional: For a dimmed background */
    z-index: 1000;
}

.modal1{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    background-color: aqua;
    /* border: 1px solid black; */
    box-shadow: 1px 5px 5px gray;
    border-radius: 10px;
    z-index: 2;
    /* position: relative; */
    /* top:50px;
    left: 40%; */
}

.modal1-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}

.modal1-body{
    padding:10px;
    width: 100%;
}

.modal1-body textarea{
    width: 100%;
    min-height: 250px;
}

.modal1-footer{
    display: flex;
    flex-direction: row;
    padding:10px;
    justify-content: end;
}

.modal1-footer button{
    margin:5px;
}

.screen{
    display: none;
    position: fixed;
    top:0px; 
    left:0px;
    height: 100%;
    width:100%;
    z-index: 1;
    background-color: black;
    opacity:0.5;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-center2 {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  